* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
}

header img {
    width: 15px;
}

section {
    margin: 40px auto 20px auto;
    width: 100%;
    max-width: 600px;
    border: solid 1px white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 1.2rem;
}

section img {
    width: 100%;
}

h2 {
    font-weight: initial;
    font-size: 1.5rem;
    padding: 1em;
}

ul li {
    padding: 1em;
    display: block;
    width: 100%;
}

ul li:nth-child(2n) {
    background: rgba(0, 0, 0, 0.09)
}

details p {
    margin-top: 1em;
}